<div id="diff">
    <h2>
        Hello from FitnessBook,
    </h2>
    <h3>
        We hope you know FaceBook. Well FitnessBook is the same but here the toppic is fitness, workouts, diets and the best exercises for your body! You can learn the best workout here and also watch how to perform every exercise correctly. Teach everything
        for the development of your body from the best teacher - people. You can see the workouts of your idols and other famous celebrities with great body. If you want to look sexy for some partner or you want to achieve some goals for summer, what
        you wait for. Start to learn how to transform your body in the best possible way! We wish you Good Look and Have fun!
    </h3>

    <div id="cheif">
        <div id="loginmap">
            <a class="text-justify" id="login" routerLink="/user/login" class="navitem">Login</a>
        </div>
        <div id="registermap">
            <a class="text-justify" id="register" routerLink="/user/register" class="navitem">Register</a>
        </div>
    </div>
</div>