footer {
    background-color: black;
    color: white;
    text-transform: none;
    text-align: justify;
    padding: 27px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: 900;
    width: 100%;
    margin-top: 25px;
    position: absolute;
}