<div class="description-login" *ngIf="isAuthenticate">
    Yor are alredy logged in! Please go to home page or to samo other!
    <button class="toggle-button" [routerLink]="['/home']"> Home page</button>
</div>

<div *ngIf="!isAuthenticate">
    <div class="container login-register-page">
        <h1 class="title-login"> Welcome, I am your diary :)</h1>
        <p class="description-login">
            You can keep in my mind information that is important to your school or university. I can store details of your subjects, courses, grades, exams and other similar information. If you want me to remind you of the dates of your exams or your ratings from
            them, then log in to the app or if you don't have an account it's time to create one :)
        </p>
        <div class="toggle-buttons-container">
            <button (click)="loginHandler()" class="toggle-button">Log in!</button>
            <button (click)="registerHandler()" class="toggle-button">Register!</button>
        </div>

        <form #l="ngForm" class="modal-content animate" (ngSubmit)="submitLogin(l.value)" id="login-form">
            <fieldset>
                <label for="email">Email</label>
                <p class="field field-icon">
                    <input #userEmail="ngModel" class="input-error" type="email" name="email" id="email" ngModel required minlength="4" pattern="^[a-zA-Z0-9\.-]{4,}@\w+\.(com|bg)$">
                </p>
                <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error">
                    Email is required!
                </p>
                <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="error ">
                    Email is not valid!
                </p>
                <p *ngIf="userEmail.touched && userEmail.errors?.minlength" class="error ">
                    Email must be at least 4 characters!
                </p>
                <label for="password">Password</label>
                <p class="field ">
                    <input #userPassword="ngModel" type="password" name="password" id="password" ngModel required minlength="4">
                </p>
                <p *ngIf="userPassword.touched && userPassword.errors?.required" class="error">
                    Password is required!
                </p>
                <p *ngIf="userPassword.touched && userPassword.errors?.minlength" class="error">
                    Password must be at least 4 characters!
                </p>
                <button [disabled]="l.invalid">Log in me</button>
            </fieldset>
        </form>

        <form #f="ngForm" class="register" id="register-form" (ngSubmit)="submitRegisterForm(f.value)">
            <fieldset>
                <h1>Registration</h1>

                <!-- username -->
                <label for="username">Username</label>
                <p class="field">
                    <input #userUsername="ngModel" class="input-error" type="text" name="username" id="username" ngModel required minlength="4">
                </p>
                <p class="error" *ngIf="userUsername.touched && userUsername.errors?.required">
                    Username is required!
                </p>
                <p *ngIf="userUsername.touched && userUsername.errors?.minlength" class="error ">
                    Username must be at least 4 characters!
                </p>
                <!-- email -->
                <label for="email">Email</label>
                <p class="field field-icon">
                    <input #userEmail="ngModel" class="input-error" type="email" name="email" id="email" ngModel required minlength="4" pattern="^[a-zA-Z0-9\.-]{4,}@\w+\.(com|bg)$">
                </p>
                <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error">
                    Email is required!
                </p>
                <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="error ">
                    Email is not valid!
                </p>
                <p *ngIf="userEmail.touched && userEmail.errors?.minlength" class="error ">
                    Email must be at least 4 characters!
                </p>
                <label for="userInfo">User Info </label>
                <div class="field">
                    <textarea #userInfo="ngModel" type="text" name="userInfo" id="userInfo" ngModel minlength="4"></textarea>
                </div>
                <p *ngIf="userInfo.errors?.minlength" class="error ">
                    User info must be at least 4 characters!
                </p>
                <!-- password -->
                <label for="password">Password</label>
                <p class="field ">
                    <input #userPassword="ngModel" type="password" name="password" id="password" ngModel required minlength="4">
                </p>
                <p *ngIf="userPassword.touched && userPassword.errors?.required" class="error">
                    Password is required!
                </p>
                <p *ngIf="userPassword.touched && userPassword.errors?.minlength" class="error">
                    Password must be at least 4 characters!
                </p>

                <!-- rePassword -->
                <label for="rePassword">Repeat Password</label>
                <p class="field field-icon">
                    <input #rePassword="ngModel" type="password" name="rePassword" id="rePassword" ngModel required minlength="4">
                </p>
                <p *ngIf="rePassword.touched && rePassword.errors?.required" class="error">
                    Repeat Password is required!
                </p>
                <p *ngIf="rePassword.touched && rePassword.errors?.minlength" class="error">
                    Repeat Password must be at least 4 characters!
                </p>

                <!-- <p *ngIf="!!errorMessege" class="error">{{errorMessege}}</p> -->

                <button [disabled]="f.invalid">Register Me</button>
            </fieldset>
        </form>
    </div>
</div>