<div *ngIf="isLoading">
    <app-loader [isLoading]="isLoading"></app-loader>
</div>

<form #f="ngForm" class="register" (ngSubmit)="submitFormHandler(f.value)" *ngIf="!isLoading">
    <fieldset>
        <h1>Edit My Profile</h1>

        <!-- username -->
        <label for="username">Username</label>
        <p class="field">
            <input #userUsername="ngModel" class="input-error" type="text" placeholder="Username" name="username" id="username" [ngModel]="currentUser.username" required minlength="4">
        </p>
        <p class="error" *ngIf="userUsername.touched && userUsername.errors?.required">
            Username is required!
        </p>
        <p *ngIf="userUsername.touched && userUsername.errors?.minlength" class="error ">
            Username must be at least 4 characters!
        </p>
        <!-- email -->
        <label for="email">Email</label>
        <p class="field field-icon">
            <input #userEmail="ngModel" class="input-error" type="email" placeholder="Email" name="email" id="email" [ngModel]="currentUser.email" required minlength="4" pattern="^[a-zA-Z0-9\.-]{4,}@\w+\.(com|bg)$">
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error">
            Email is required!
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="error ">
            Email is not valid!
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.minlength" class="error ">
            Email must be at least 4 characters!
        </p>
        <label for="userInfo">User Info </label>
        <div class="field">
            <textarea #userInfo="ngModel" type="text" name="userInfo" placeholder="User Info" id="userInfo" [ngModel]="currentUser.userInfo" minlength="4"></textarea>
        </div>
        <p *ngIf="userInfo.errors?.minlength" class="error ">
            User info must be at least 4 characters!
        </p>
        <!-- password -->


        <p *ngIf="!!errorMessage" class="error">Repeat Password does not match password!</p>

        <button [disabled]="isLoading || f.invalid">Edit My Profile</button>

        <div id="buttonHolder">
            <a [routerLink]="['/user/profile']" id="backBtn">Back to Profile</a>
        </div>

    </fieldset>
</form>