<a routerLink="/course/create">Create course ~~!!!!!~~</a>

<p>all Courses!</p>


<div class="row contaner" *ngFor="let item of allCourses">
    <div>
        <div id="cheifdiv">
            <h2>{{item.name}}</h2>
            <div id="infoHolder">
                <div>{{item.dateTime}}</div>
                <div id="detailsButton">
                    <a id="details" [routerLink]="['/course/details', item.id]" class="navitem">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>