<div id="dif">
    <h1 *ngIf="allPosts.length === 0">Congratulations! You are first person in our site and you can make first post!</h1>
</div>

<div id="back">
    <div class="row blog-page" *ngFor="let post of allPosts">
        <div>
            <div id="cheifdiv">
                <h2>{{post.title}}</h2>
                <div id="infoHolder">
                    <div id="username">{{post.userId.username}}</div>
                    <div id="likes">{{post.likes.length}} Likes</div>
                    <div id="detailsButton">
                        <a id="details" [routerLink]="['/post/details', post._id]" class="navitem">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>