@{
    this.ViewData["Title"] = "Карта на сайта";
}
<h1>@this.ViewData["Title"]</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Начало</a></li>
        <li class="breadcrumb-item active" aria-current="page">Карта на сайта</li>
    </ol>
</nav>

<div id="content" class="site-content">
    <div class="ast-container">
        <section class="header-part">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bread">
                            <ul>
                                <li><a href="/" title="Начало">Начало</a> <i class="fas fa-angle-double-right"></i></li>
                                <li>Карта на сайта</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <article>
                            <div class="ast-post-format- single-layout-1">
                                <div class="ast-single-post-order col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                                    <h1 class="entry-title">Карта на сайта</h1>
                                    <p>Намерете бързо търсената от Вас страница или компонент от неръждаема стомана.</p>
                                    <hr>
                                </div>
                                <div class="entry-content clear">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <div class="col-xs-12 col-sm-6">
                                            <h3>Страници в сайта</h3>
                                            <ul class="site-map-menu">
                                                <li><a title="Начална страница" href="/">Начало</a></li>
                                                <li><a title="За нас" href="/za-nas/">За нас</a></li>
                                                <li><a title="Продуктов каталог" href="/produkti/">Продукти</a></li>
                                                <li><a title="Каталози" href="/katalozi/" rel="nofollow">Каталози</a></li>
                                                <li><a title="За контакти" href="/kontakti/">Контакти</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <h3>Продукти</h3>
                                            <ul class="site-map-menu">
                                                <li><a title="Бътерфлай кранове" href="/products/baterflay-kranove/">Бътерфлай кранове</a></li>
                                                <li><a title="Сферични кранове" href="/products/sferichni-kranove/">Сферични кранове</a></li>
                                                <li><a title="Люкове и капаци" href="/products/lyukove-i-kapatsi/">Люкове и капаци</a></li>
                                                <li><a title="Кранчета, вентили, наблюдателни стъкла, филтри" href="/products/krancheta-ventili-nablyudatelni-stakla-filtri/">Кранчета, вентили, наблюдателни стъкла, филтри</a></li>
                                                <li><a title="Тръбна арматура" href="/products/trabna-armatura/">Тръбна арматура</a></li>
                                                <li><a title="Тръби, колена, тройници, преходи, фланци" href="/products/trabi-kolena-troynitsi-prehodi-flantsi/">Тръби, колена, тройници, преходи, фланци</a></li>
                                                <li><a title="Компоненти за стерилно съхранение" href="/products/komponenti-za-sterilno-sahranenie/">Компоненти за стерилно съхранение</a></li>
                                                <li><a title="Актуатори за сферични и бътерфлай кранове с пневматично и ел. управление" href="/products/aktuatori-za-sferichni-i-baterflay-kranove-s-pnevmatichno-i-el-upravlenie/">Актуатори за сферични и бътерфлай кранове с пневматично и ел. управление</a></li>
                                                <li><a title="Компоненти за разпределение на азот" href="/products/komponenti-za-razpredelenie-na-azot/">Компоненти за разпределение на азот</a></li>
                                                <li><a title="Почистващи системи" href="/products/pochistvashti-sistemi/">Почистващи системи</a></li>
                                                <li><a title="Декантатори" href="/products/dekantatori/">Декантатори</a></li>
                                                <li><a title="Плочи и серпентини за контролиране темп. на ферментационен процес" href="/products/plochi-i-serpentini-za-kontrolirane-temp-na-fermentatsionen-protses/">Плочи и серпентини за контролиране темп. на ферментационен процес</a></li>
                                                <li><a title="Термометри" href="/products/termometri/">Термометри</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

    </div> <!-- ast-container -->

</div>