@{
    this.ViewData["Title"] = "За нас";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Начало</a></li>
            <li class="breadcrumb-item active" aria-current="page">За нас</li>
        </ol>
    </nav>
<main class="hfeed site">
    <h1>@this.ViewData["Title"]</h1>

    <h3>Прима 08 ООД</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>Прима 08 ООД</h1>
            <p class="t-justify">Е специализирана в търговията с <a href="/">компоненти от неръждаема стомана</a> (AISI 304, AISI 316) за винарската индустрия, хранително-вкусовата промишленост, химическата и фармацевтичната индустрии.</p>
            <p class="t-justify"><strong>Продуктовата гама включва</strong> – <strong><em>люкове</em></strong>, капаци, пробни кранчета, кранчета за нивомери, тръби, преходи, колена, тройници, фланци, компоненти за стерилно съхранение, електрическа и пневматична задвижка за сферични и бътерфлай кранове, компоненти за разпределение на азот, почистващи системи, декантатори, плочи и серпентини за контролиране температурата на ферментационен процес, тeрмометри, дебитомери, термостати, часовници, аларми за максимално ниво, кранове(сферични, бътерфлай) и фитинги с резби и <strong>присъединяване по следните стандарти:</strong></p>
            <p class="italic">GAS, DIN11851, ENOLOGICO, MACON, RIEDERICH, AUSTRIACO, SMS, GAROLLA, CLAMP</p>
        </div>
        <div class="col-xs-8 col-sm-4 item">
            <img src="https://prima08.com/wp-content/uploads/2019/07/Foto-Raccordi-small.jpg" alt="Прима 08 ООД специализиран търговец с компоненти от неръждаема стомана">
        </div>
    </div>
    <div>
        <partial name="_FooterPartial" />
    </div>
</main>