@model Prima08.Web.ViewModels.Products.DetailsViewModel;
@{
    this.ViewData["Title"] = "Политика за поверителност";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Начало</a></li>
        <li class="breadcrumb-item active" aria-current="page">Политика на поверителност</li>
    </ol>
</nav>
<div class="col-xs-12">
    <article>
        <div class="ast-post-format- single-layout-1">
            <div class="ast-single-post-order">
                <h1 class="entry-title">Политика на поверителност</h1>
            </div>
            <div class="entry-content clear" itemprop="text">
                <h2>Информация относно дружеството, което обработва данните Ви:</h2>
                <ul>
                    <li><strong>Наименование:</strong> ПРИМА 08 ООД</li>
                    <li><strong>ЕИК/БУЛСТАТ:</strong> 200171409</li>
                    <li><strong>Седалище и адрес на управление:</strong> &nbsp;гр. Пловдив, ул. Нестор Абаджиев 23, ПК 159</li>
                    <li><strong>Адрес за кореспонденция:</strong> &nbsp;гр. Пловдив, ул. Нестор Абаджиев 23, ПК 159</li>
                    <li><strong>Телефон:</strong> +359 888 888 622</li>
                    <li><strong>E-mail:</strong> info@prima08.com</li>
                    <li><strong>Уебсайт:</strong> https://prima08.com</li>
                </ul>
                <h3>Информация относно компетентния надзорен орган защита на личните данни</h3>
                <ul>
                    <li><strong>Наименование:</strong>&nbsp;Комисия за защита на личните данни</li>
                    <li><strong>Седалище и адрес на управление:</strong>&nbsp;гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
                    <li><strong>Адрес за кореспонденция:</strong>&nbsp;гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
                    <li><strong>Телефон:</strong>&nbsp;02 915 3 518</li>
                    <li><strong>Интернет страница:&nbsp;</strong><a href="https://www.cpdp.bg/" target="_blank" rel="noopener noreferrer" data-cke-saved-href="https://www.cpdp.bg/"><u>www.cpdp.bg</u></a></li>
                </ul>
                <strong>ПРИМА 08 ООД​</strong>&nbsp;(Наричано по-долу за краткост „Администратор“ или „Дружеството“) осъществява дейността си в съответствие със&nbsp;<a href="https://eur-lex.europa.eu/legal-content/BG/TXT/HTML/?uri=CELEX:32016R0679&amp;from=EN" target="_blank" rel="noopener noreferrer" data-cke-saved-href="https://eur-lex.europa.eu/legal-content/BG/TXT/HTML/?uri=CELEX:32016R0679&amp;from=EN"><strong>Закона за защита на личните данни и Регламент (ЕС) 2016/679 на Европейския парламент</strong></a>&nbsp;и на Съвета от 27 април 2016 година относно защитата на физическите лица във връзка с обработването на лични данни и относно свободното движение на такива данни. Настоящата информация има цел да ви информира за всички аспекти на обработката личните ви данни от Дружеството и правата, които имате във връзка с тази обработка.
                <h3>Основание за събиране, обработване и съхраняване на вашите лични данни</h3>
                <strong>Чл. 1.</strong> Администраторът събира и обработва Вашите лични данни във връзка с използването на интернет сайт http://prima08.com&nbsp;и сключване на договори с дружеството на основание чл. 6, ал. 1, Регламент (ЕС) 2016/679 (GDPR), и по-конкретно въз основа на следното основание:
                <ul>
                    <li>Изрично получено съгласие от Вас като клиент;</li>
                    <li>Изпълнение на задълженията на Администратора по договор с Вас;</li>
                    <li>Спазване на законово задължение, което се прилага спрямо Администратора;</li>
                    <li>За целите на легитимните интереси на Администратора или на трета страна;</li>
                </ul>
                <h3>Цели и принципи при събирането, обработването и съхраняването на вашите лични данни</h3>
                <strong>Чл. 2. (1)</strong> Ние събираме и обработваме личните данни, които Вие ни предоставяте във връзка с използването на уеб сайт и сключване на договор с дружеството, включително за следните цели:
                <ul>
                    <li>създаване на профил и предоставяне на пълна функционалност при използването на уеб сайта;</li>
                    <li>сключване и изпълнение на договор от разстояние;</li>
                    <li>индивидуализация на страна по договора;</li>
                    <li>счетоводни цели;</li>
                    <li>статистически цели;</li>
                    <li>защита на информационната сигурност;</li>
                    <li>обезпечаване на изпълнението на договора за предоставяне на съответната услуга.</li>
                    <li>изпращане на информационен бюлетин при изразено от Вас желание;</li>
                </ul>
                (2) Ние спазваме следните принципи при обработката на Вашите лични данни:
                <ul>
                    <li>законосъобразност, добросъвестност и прозрачност;</li>
                    <li>ограничение на целите на обработване;</li>
                    <li>съотносимост с целите на обработката и свеждане до минимум на събираните данни;</li>
                    <li>точност и актуалност на данните;</li>
                    <li>ограничение на съхранението с оглед постигане на целите;</li>
                    <li>цялостност и поверителност на обработването и гарантиране на подходящо ниво на сигурност на личните данни.</li>
                </ul>
                (3) При обработването и съхранението на личните данни, Администраторът може да обработва и съхранява личните данни с цел защита следните си легитимни интереси:
                <ul>
                    <li>изпълнение на задълженията си към Национална агенция по приходите, Министерство на вътрешните работи и други държавни и общински органи.</li>
                </ul>
                <h3>Какви видове лични данни събира, обработва и съхранява нашето дружество</h3>
                <strong>Чл. 3. (1)</strong>&nbsp;Дружеството извършва следните операции с предоставените от Вас лични данни за следните цели:
                <ul>
                    <li>Сключване и изпълнение на търговска сделка с клиент или партньор – целта на тази операция е сключване и изпълнение на договор с търговски партньор или клиент и неговото администриране. Предвид ограничения обхват на събираните лични данни и обстоятелството, че част от тях се събират от публично достъпни източници, провеждането на оценка на въздействието не е необходимо извършването на оценка на въздействието на операцията.</li>
                    <li>Изпращане на информационен бюлетин (нюзлетър) – целта на тази операция е администриране на процеса по изпращане на бюлетини до клиентите, които са заявили, че желаят да получават. Предвид ограничения обхват на събираните лични данни, провеждането на оценка на въздействието не е необходимо извършването на оценка на въздействието на операцията.</li>
                    <li>Упражняване право на отказ или извършване на рекламация – целта на тази операция е администриране на процеса по упражняване на правото на отказ или рекламация от клиента. Предвид ограничения обхват на събираните лични данни, провеждането на оценка на въздействието не е необходимо извършването на оценка на въздействието на операцията.</li>
                </ul>
                (2) Администраторът обработва следните категории лични данни и информация за следните цели и на следните основания:
                <ul>
                    <li>
                        Ваши индивидуализиращи данни (електронна поща, име и др.)
                        <ul>
                            <li>Цел, за която се събират данните: 1) Осъществяване на връзка с потребителя и изпращане на информация към него, 2) за целите на регистрация на потребител в онлайн магазина, както и 3) за изпращане на информационен бюлетин.</li>
                            <li>Основание за обработка на личните Ви данни - С приемането на общите условия и регистрация в уеб сайта или извършване на запитване за поръчка, или при сключването на писмен договор, между Администратора и Вас се създава договорно отношение, на което основание обработваме Вашите лични данни – чл. 6, ал. 1, б. (б) GDPR. Данните Ви за изпращане на информационен бюлетин се обработват на дадено от Вас изрично съгласие - чл. 6, ал. 1, б. (а) GDPR.</li>
                        </ul>
                    </li>
                    <li>
                        Данни за извършване на доставка(имена, телефон, адрес и др.)
                        <ul>
                            <li>Цел, за която се събират данните: Изпълнение на задължения на администратора по договор за покупко-продажба и доставка на закупените стоки.</li>
                            <li>Основание за обработка на личните Ви данни - С приемането на общите условия и регистрация в уеб сайта или извършване на запитване за поръчка, или при сключването на писмен договор, между Администратора и Вас се създава договорно отношение, на което основание обработваме Вашите лични данни – чл. 6, ал. 1, б. (б) GDPR.</li>
                        </ul>
                    </li>
                    <li>
                        Допълнителни данни, предоставяни от Вас – Ако желаете да допълните Вашия профил, можете да попълните в него данни за име, фамилия, телефонен номер.
                        <ul>
                            <li>Цел, за която се събират данните: Допълване на информация за потребителя в потребителския му акаунт.</li>
                            <li>Основания за обработка на данните: Вие сте предоставили изрично съгласие за обработване на личните му данни за една или повече конкретни цели - 6, ал. 1, б. (a) на GDPR в момента на регистрация в уеб сайта. Предоставянето на тези данни, не е задължително за регистрация в уеб сайта.</li>
                        </ul>
                    </li>
                </ul>
                (3)Администраторът не събира и не обработва лични данни, които се отнасят за следното:
                <ul>
                    <li>разкриват расов или етнически произход;</li>
                    <li>разкриват политически, религиозни или философски убеждения, или членство в синдикални организации;</li>
                    <li>генетични и биометрични данни, данни за здравословното състояние или данни за сексуалния живот или сексуалната ориентация.</li>
                </ul>
                (4) Личните данни са събрани от Администратора от лицата, за които се отнасят.

                (5) Дружеството не извършва автоматизирано взимане на решения с данни.

                <strong>Чл. 4. (1)</strong>&nbsp;Дружеството извършва следните операции с предоставените от Вас, като законни представители или пълномощници на юридически лица-търговски партньори, лични данни за следните цели:
                <ul>
                    <li>Сключване и изпълнение на търговска сделка: За сключването и изпълнението на търговска сделка с търговско дружество, ние обработваме единствено трите имена на законния представител или упълномощеното от дружеството лице. Заключение от оценката на въздействие: Предвид неголемия обем на физически лица, чиито данни се обработват и предвид лимитирания обем лични данни, които се събират, провеждането на оценка на въздействието не е необходима за настоящата операция.</li>
                </ul>
                (2) Личните данни са събрани от Администратора от лицата, за които се отнасят и от Търговския регистър към Агенция по вписванията.

                (3) Дружеството не извършва автоматизирано взимане на решения с данни.

                <strong>Чл. 5.</strong>&nbsp;Администраторът може да използва т.нар. „бисквитки“ за целите на предоставяне на пълна функционалност на уебсайта, подобряване на потребителското преживяване, статистически цели, улеснен достъп и др., с което Вие се съгласявате чрез използването на нашия уебсайт. Вие можете по всяко време да контролирате и/или изтривате „бисквитките“ чрез настройките на използвания от Вас браузър. „Бисквитките“ не представляват лични данни и не се използват за идентифициране на посетителите и ползвателите на електронния магазин.
                <h3>Срок на съхранение на личните ви данни</h3>
                <strong>Чл. 6. (1)</strong> Администраторът съхранява Вашите лични данни за срок не по-дълъг от съществуването на профила Ви в уеб сайта. След заличаване на профила ви, Администраторът полага необходимите грижи да изтрие и унищожи всички Ваши данни, без ненужно забавяне или да ги анонимизира (т.е. да ги приведе във вид, който не разкрива вашата личност).

                (2) Администраторът обработва Вашите лични данни, които сте предоставили при извършване на запитване за поръчка без регистрация в уеб сайта, до приключване на поръчката, освен ако сте дали своето изрично съгласие при извършване на поръчката данните Ви да се обработват за целите на подобряване на услугата, предоставяне на препоръчано съдържание за Вас, индивидуални условия, промоции, както и за статистически цели.

                (3) Администраторът съхранява Вашите лични данни, предоставени във връзка с направени запитвания за поръчки за срок от 5 години за целите на защита на правните интереси на Администратора при съдебни или административни спорове с потребители на уеб сайта.

                (4) Администраторът Ви уведомява, в случай, че срокът за съхранение на данните е необходим да бъде удължен с оглед изпълнение на нормативно задължение или с оглед легитимни интереси на Администратора или друго.

                (5) Администраторът съхранява личните данни, които е необходимо да пази по силата на приложимото законодателство за съответния предвиден срок, който може да надхвърля срока на съществуване на Вашия профил в уеб сайта.

                <strong>Чл. 7.&nbsp;</strong>Администраторът съхранява личните данни на законните представители на търговските си партньори за срока на изпълнение на договора, за спазване на легитимните интереси и законови задължения на Администратора, като този срок може да надхвърля срока на сключения договор.
                <h3>Предаване на Вашите лични данни за обработване</h3>
                <strong>Чл. 8. (1)</strong>&nbsp;Администраторът може по собствена преценка да предава част или всички Ваши лични данни на обработващи лични данни за изпълнението на целите за обработване, с които сте се съгласили, при спазване на изискванията на Регламент (ЕС) 2016/679 (GDPR).

                (2) Администраторът Ви уведомява в случай на намерение да предаде част или всички Ваши лични данни на трети държави или международни организации.
                <h3>Вашите права при събирането, обработването и съхранението на личните Ви данни</h3>
                <strong>Оттегляне на съгласието за обработване на личните Ви данни</strong>

                <strong>Чл. 9. (1)</strong>&nbsp;Ако не желаете предоставените от Вас лични данни да се обработват за маркетингови цели и получаване на бюлетин, Вие можете по всяко време да оттеглите съгласието си за обработка, като попълните формата за оттегляне на съгласие в&nbsp;<strong><a href="http://bit.ly/ottegliane-saglasie" target="_blank" rel="noopener noreferrer" data-cke-saved-href="http://bit.ly/ottegliane-saglasie">Приложение № 1</a>&nbsp;</strong>или чрез искане в свободен текст, и ни го изпратите по имейл.

                (2) След като получим Вашето искане, ще Ви изпратим на имейла, който сте посочили за получаване на бюлетини и рекламни съобщения, писмо с подробни инструкции за верификацията Ви като получател на бюлетини и субект на личните данни, за които е заявено оттегляне на съгласието.

                (3) Оттеглянето на съгласието не се отразява на законосъобразността на обработването на лични данни, което Администраторът е извършвал до този момент.
                <h3>Право на достъп</h3>
                <strong>Чл. 10. (1)</strong>&nbsp;Вие имате право да изискате и получите от Администратора потвърждение дали се обработват лични данни, свързани с Вас, като изпратите искане в свободен текст по имейл.

                (2) Вие имате право да получите достъп до данните, свързани с вас, както и до информацията, отнасяща се до събирането, обработването и съхранението на личните Ви данни.

                (3) След като получим Вашето искане, ще Ви изпратим на имейла, който сте използвали за регистрация или извършване на поръчки в електронния магазин, писмо с подробни инструкции за верификацията Ви като субект на личните данни, до които е заявен достъп.

                (4) След извършване на верификацията, съгласно ал. 3, Администраторът Ви предоставя при поискване, копие от обработваните лични данни, свързани с Вас, в електронна или друга подходяща форма.

                (5) Предоставянето на достъп до данните е безплатно, но Администраторът си запазва правото да наложи административна такса, в случай на повторяемост или прекомерност на исканията.
                <h3>Право на коригиране или попълване</h3>
                <strong>Чл. 11.</strong>&nbsp;(1) Вие можете по всяко време да коригирате или да попълните неточните или непълни лични данни, свързани с Вас, като попълните&nbsp;<a href="http://bit.ly/iskane-koregirane-danni" target="_blank" rel="noopener noreferrer" data-cke-saved-href="http://bit.ly/iskane-koregirane-danni"><strong>Приложение №4</strong></a>

                (2) Вие можете да коригирате или попълните неточните или непълните лични данни, свързани с Вас директно през Вашия профил в уебсайта или с отправяне на искане до Администратора по имейл, като използвате формата в Приложение № 4 или чрез искане в свободен текст.
                <h3>Право на изтриване („да бъдеш забравен“)</h3>
                <strong>Чл. 12. (1)</strong>&nbsp;Вие имате правото да поискате от Администратора изтриване на част или всички свързани с Вас лични данни, а Администраторът има задължението да ги изтрие без ненужно забавяне, когато е налице някое от посочените по-долу основания:
                <ul>
                    <li>личните данни повече не са необходими за целите, за които са били събрани или обработвани по друг начин;</li>
                    <li>Вие оттеглите своето съгласие, върху което се основава обработването на данните и няма друго правно основание за обработването;</li>
                    <li>Вие възразите срещу обработването на свързаните с Вас лични данни, включително за целите на директния маркетинг и няма законни основания за обработването, които да имат преимущество;</li>
                    <li>личните данни са били обработвани незаконосъобразно;</li>
                    <li>личните данни трябва да бъдат изтрити с цел спазването на правно задължение по правото на ЕС или правото на държава членка, което се прилага спрямо Администратора;</li>
                    <li>личните данни са били събрани във връзка с предлагането на услуги на информационното общество.</li>
                </ul>
                (2) Администраторът не е длъжен да изтрие личните данни, ако ги съхранява и обработва:
                <ul>
                    <li>за упражняване на правото на свобода на изразяването и правото на информация;</li>
                    <li>за спазване на правно задължение, което изисква обработване, предвидено в правото на ЕС или правото на държавата членка, което се прилага спрямо Администратора или за изпълнението на задача от обществен интерес или при упражняването на официални правомощия, които са му предоставени;</li>
                    <li>по причини от обществен интерес в областта на общественото здраве;</li>
                    <li>за целите на архивирането в обществен интерес, за научни или исторически изследвания или за статистически цели;</li>
                    <li>за установяването, упражняването или защитата на правни претенции.</li>
                </ul>
                (3) За да упражните правото си за бъдете забравен, е необходимо да изпратите по имейл искане за изтриване на личните Ви данни, които Администраторът обработва, като попълните формата в&nbsp;<a href="http://bit.ly/iskane-da-bada-zabraven" target="_blank" rel="noopener noreferrer" data-cke-saved-href="http://bit.ly/iskane-da-bada-zabraven"><strong>Приложение № 2</strong></a>&nbsp;или чрез искане в свободен текст, след което Администраторът ще изпрати на имейла, който сте използвали за регистрация или извършване на поръчки в електронния магазин, писмо с подробни инструкции за верификацията Ви като потребител на магазина и субект на личните данни, за които е отправено искане за изтриване.

                (4) След като удостоверим идентичност на лицето, отправило искането и лицето, за което се отнасят данните в съответствие с изпратените Ви инструкции, ние ще изтрием всички данни, които обработваме за Вас, в съответствие с ал. 3.

                (5) Ако има направена от Вас поръчка, която е в процес на обработване, най-ранният момент, в който можете да поискате да бъдете „забравен“, е при успешното завършване на поръчката.
                <h3>Право на ограничаване</h3>
                Чл. 13. Вие имате право да изискате от Администратора да ограничи обработването на свързаните с Вас данни, като ни изпратите искане в свободен текст по имейл, когато:
                <ul>
                    <li>оспорите точността на личните данни, за срок, който позволява на Администратора да провери точността на личните данни;</li>
                    <li>обработването е неправомерно, но Вие не желаете личните данни да бъдат изтрити, а само използването им да бъде ограничено;</li>
                    <li>Администраторът не се нуждае повече от личните данни за целите на обработването, но Вие ги изисквате за установяването, упражняването или защитата на свои правни претенции;</li>
                    <li>Възразили сте срещу обработването в очакване на проверка дали законните основания на Администратора имат преимущество пред Вашите интереси.</li>
                </ul>
                (2) След като получим Вашето искане, ще Ви изпратим на имейла, който сте използвали за регистрация или извършване на поръчки в електронния магазин, писмо с подробни инструкции за верификацията Ви като потребител на магазина и субект на личните данни, за които е отправено искане за ограничаване на обработването.

                (3) След извършване на верификацията съгласно ал. 2, Дружеството ще преустанови обработката на Вашите данни, но няма да премахне публикациите, които сте направили в онлайн магазина, ако има такива.
                <h3>Право на преносимост</h3>
                Чл. 14. (1) Ако сте дали съгласие за обработване на Вашите лични данни или обработването е необходимо за изпълнението на договора с Администратора, или ако данните Ви се обработват по автоматизиран начин, Вие можете:
                <ul>
                    <li>да поискате от Администратора да Ви предостави Вашите лични данни в четим формат и да ги прехвърлите към друг Администратор;</li>
                    <li>да поискате от Администратора пряко да прехвърли Вашите лични данни към посочен от Вас администратор, когато това е технически осъществимо.</li>
                </ul>
                (2) Вие можете да упражните правото на преносимост като ни изпратите по имейл попълнена формата съгласно&nbsp;<a href="http://bit.ly/iskane-prenosimost" target="_blank" rel="noopener noreferrer" data-cke-saved-href="http://bit.ly/iskane-prenosimost"><strong>Приложение № 3</strong></a>&nbsp;или искане в свободен текст, след което Администраторът ще изпрати на имейла, който сте използвали за регистрация или извършване на поръчки в електронния магазин, писмо с подробни инструкции за верификацията Ви като потребител на магазина и субект на личните данни, за които е отправено искане за преносимост.

                (3) След извършване на верификацията съгласно ал. 2, Дружеството изпрати на посочения от Вас имейл данните, които обработва за Вас, във формат XML.
                <h3>Право на получаване на информация</h3>
                <strong>Чл. 15.</strong>&nbsp;Вие можете да поискате от Администратора да Ви информира относно всички получатели, на които личните данни, за които е поискано коригиране, изтриване или ограничаване на обработването, са били разкрити. Администраторът може да откаже да предостави тази информация, ако това би било невъзможно или изисква несъразмерно големи усилия.
                <h3>Право на възражение</h3>
                <strong>Чл. 16.</strong>&nbsp;Вие можете да възразите по всяко време срещу обработването на лични данни от Администратора, които се отнасят до него, включително ако се обработват за целите на профилиране или директен маркетинг.
                <h3>Вашите права при нарушение на сигурността на личните ви данни</h3>
                <strong>Чл. 17. (1)</strong>&nbsp;Ако Администраторът установи нарушение на сигурността на личните Ви данни, което може да породи висок риск за Вашите права и свободи, той Ви уведомява без ненужно забавяне за нарушението, както и за мерките, които са предприети или предстои да бъдат предприети.

                (2) Администраторът не е длъжен да Ви уведомява, ако:
                <ul>
                    <li>е предприел подходящи технически и организационни мерки за защита по отношение на данните, засегнати от нарушението на сигурността;</li>
                    <li>е взел впоследствие мерки, които гарантират, че нарушението няма да доведе до висок риск за правата Ви;</li>
                    <li>уведомяването би изисквало непропорционални усилия.</li>
                </ul>
                <h3>Лица, на които се предоставят личните Ви данни</h3>
                <strong>Чл. 18. (1)&nbsp;</strong>За целите на обработване на личните Ви данни и предоставяне на услугата в пълната й функционалност и с оглед Вашите интереси, Администраторът може да предостави данните на следните лица, които са обработващи данни:

                Обработващ лични данни&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Цел на обработването на лични данни

                ................... няма ............................ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.................................. няма ..................................

                (2) Обработващите лични данни спазват всички изисквания за законност и сигурност при обработването и съхраняването на личните Ви данни.

                <strong>Чл. 19.</strong>&nbsp;Администраторът не извършва трансфер на Вашите данни към трети държави.

                <strong>Чл. 20.</strong>&nbsp;В случай на нарушаване на правата Ви съгласно горепосоченото или приложимото законодателство за защита на личните данни, имате право да подадете жалба до Комисията за защита на личните данни, както следва:
                <ul>
                    <li>Наименование: Комисия за защита на личните данни.</li>
                    <li>Седалище и адрес на управление: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
                    <li>Адрес за кореспонденция: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
                    <li>Телефон: 02 915 3 518</li>
                    <li>Интернет страница:&nbsp;<a href="https://www.cpdp.bg/" target="_blank" rel="noopener noreferrer" data-cke-saved-href="https://www.cpdp.bg/">www.cpdp.bg</a></li>
                </ul>
                <strong>Чл. 21.&nbsp;</strong>Можете да упражните всичките си права относно защита на Вашите лични данни чрез формите, приложени към настоящата информация. Разбира се, тези форми не са задължителни и можете да отправите исканията си във всякаква форма, която съдържа изявление за това и ви идентифицира като притежател на данните.

                <strong>Чл. 22.</strong>&nbsp;Ако съгласието се отнася за трансфер, Администраторът описва възможните рискове за трансфера на данните към трети държави при липсата на решение за адекватна защита и подходящи средства за защита.
            </div>
        </div>
    </article>
</div>