/*login register forms  */

#btn:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 30, 0);
}

h1 {
    padding-bottom: 60px;
}

#haveanaccount:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 30, 0);
    background-color: black;
}

#haveanaccount {
    color: rgb(255, 30, 0);
    text-decoration: none;
    font-weight: 900;
}

form.login,
form.register {
    border-style: groove;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    margin: 2em auto 0;
    text-align: center;
}

.login fieldset,
.register fieldset {
    border-radius: 0.3em;
    padding: 0.8em;
    background-color: #ffffff;
}

.login h2,
.register h2 {
    padding-top: 0;
    border-bottom: none;
    font-weight: 900;
}

.login p,
.register p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

label {
    padding: 0;
    font-size: 15px;
    font-weight: 900;
}

.login input,
.register input {
    border-style: inset;
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    border-left: 0.3em solid rgb(255, 30, 0);
    border-bottom: 0.3em solid black;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.login select,
.register select {
    border-color: black;
}

.login button,
.register button {
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
    background-color: black;
    font-weight: 900;
}

.login i,
.register i {
    border: 1px solid;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: #e9ecef;
}

.login a:hover,
.register a:hover {
    cursor: pointer;
}

.login .field,
.register .field {
    display: flex;
    padding-bottom: 0;
}


/* errors  */

p.error {
    text-align: center;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}