<div *ngIf="isLoading">
    <app-loader [isLoading]="isLoading"></app-loader>
</div>

<form #l="ngForm" class="login" (ngSubmit)="submitFormHandler(l.value)" *ngIf="!isLoading">

    <fieldset>
        <h1>Login</h1>

        <label for="email">Email</label>
        <p class="field">
            <input #userEmail="ngModel" class="input-error" type="email" name="email" placeholder="Email" id="email" ngModel required minlength="4" pattern="^[a-zA-Z0-9\.-]{4,}@\w+\.(com|bg)$">
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error">
            Email is required!
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="error ">
            Email is not valid!
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.minlength" class="error ">
            Email must be at least 4 characters!
        </p>

        <label for="password">Password</label>
        <p class="field ">
            <input #userPassword="ngModel" type="password" name="password" placeholder="Password" id="password" ngModel required minlength="4">
        </p>
        <p *ngIf="userPassword.touched && userPassword.errors?.required" class="error">
            Password is required!
        </p>
        <p *ngIf="userPassword.touched && userPassword.errors?.minlength" class="error">
            Password must be at least 4 characters!
        </p>

        <p *ngIf="!!errorMessage" class="error">
            Wrong email or password!
        </p>


        <button id="btn" [disabled]="isLoading || l.invalid">Login</button>

        <p class="text-center">
            If you don't have an account!
            <a id="haveanaccount" routerLink="/user/register">Register Now!</a>
        </p>

    </fieldset>
</form>