@model Prima08.Web.ViewModels.Products.AllViewModel;

@{
    this.ViewData["Title"] = "Каталози";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Начало</a></li>
        <li class="breadcrumb-item active" aria-current="page">Каталози</li>
    </ol>
</nav>
<div class="row">
    <h1 class="text-center">Каталози</h1>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="table-responsive">
            <table class="table table-strip table-hover">
                <tbody>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/11/clamp.jpeg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/11/CLAMP.pdf" target="_blank"><span>CLAMP неръждаема арматура, бътерфлай кранове, сферични кранове</span> <i class="far fa-file-pdf"></i></a></td><td><a href="http://www.valvoinox.it/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/11/sms.jpeg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/11/SMS.pdf" target="_blank"><span>SMS неръждаема арматура, бътерфлай кранове, сферични кранове</span> <i class="far fa-file-pdf"></i></a></td><td><a href="http://www.valvoinox.it/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/11/din.jpeg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/11/DIN11851.pdf" target="_blank"><span>DIN 11850/11851 неръждаема арматура, бътерфлай кранове, сферични кранове</span> <i class="far fa-file-pdf"></i></a></td><td><a href="http://www.valvoinox.it/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/11/BSP.jpg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/11/GAS.pdf" target="_blank"><span>BSP-GAS-ISO неръждаема арматура, бътерфлай кранове, сферични кранове</span> <i class="far fa-file-pdf"></i></a></td><td><a href="http://www.valvoinox.it/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/11/slide-pr-speciali.jpg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/11/prodotti_speciali.pdf" target="_blank"><span>Люкове специална изработка</span> <i class="far fa-file-pdf"></i></a></td><td><a href="https://elica-mi.com/EN/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/11/slide-pr-pressione.jpg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/11/catalogo_prodotti_a_pressione.pdf" target="_blank"><span>Люкове за работа под вакуум/високо налягане</span> <i class="far fa-file-pdf"></i></a></td><td><a href="https://elica-mi.com/EN/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/10/wood.png.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/10/catalogo_elica_portelle.pdf" target="_blank"><span>Люкове за дървени съдове</span> <i class="far fa-file-pdf"></i></a></td><td><a href="https://elica-mi.com/EN/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/08/Image-1.jpg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/08/catalogo_elica_portelle_cemento.pdf" target="_blank"><span>Люкове за циментови съдове</span> <i class="far fa-file-pdf"></i></a></td><td><a href="https://elica-mi.com/EN/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/08/slide-portelle.jpg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/08/catalogo_elica_portelle_inox.pdf" target="_blank"><span>Правоъгълни, Овални, Кръгли(Долни) люкове за съдове от неръждаема стомана</span> <i class="far fa-file-pdf"></i></a></td><td><a href="https://elica-mi.com/EN/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/08/slide-chiusini.jpg.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/08/chiusini_per_serbatoi_acciaio_inox.pdf" target="_blank"><span>Кръгли(Горни) люкове</span> <i class="far fa-file-pdf"></i></a></td><td><a href="https://elica-mi.com/EN/" target="_blank">уеб сайт</a></td></tr>
                    <tr><td><img src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/07/Prima08-logo.png.webp" width="100px"></td><td><a href="https://prima08.com/wp-content/uploads/2019/07/ecometeo-1.pdf" target="_blank"><span>Ecometeo каталог</span> <i class="far fa-file-pdf"></i></a></td><td><a href="http://prima08.com" target="_blank">уеб сайт</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <partial name="_FooterPartial" />
</div>