.text-center {
    text-align: center;
    font-weight: 900;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}