<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Начало</a></li>
        <li class="breadcrumb-item"><a href="/Home/Contacts">Контакти</a></li>
        <li class="breadcrumb-item"><a href="/Home/ForUs">За нас</a></li>
        <li class="breadcrumb-item"><a href="/Products/All">Продукти</a></li>
        <li class="breadcrumb-item"><a href="/Catalogs/All">Каталози</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>
