<footer class="main-footer backgroundfooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="/" class="custom-logo-link" rel="home"><img width="300" height="90" src="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/07/cropped-Prima08-logo.png.webp" class="custom-logo" alt="Прима 08 ООД" srcset="https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/07/cropped-Prima08-logo.png.webp 650w,  https://prima08.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/07/cropped-Prima08-logo-300x67.png.webp 300w" sizes="(max-width: 650px) 100vw, 650px"></a>                    <h2 class="title-like c-white">Компоненти от неръждаема стомана <span>за хранителната промишленост</span></h2>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2 class="c-white a-left">Меню</h2>
                <ul class="footer-menu">
                    <li><a href="/" title="Начална страница">Начало</a></li>
                    <li><a href="/Home/ForUs" title="За нас">За нас</a></li>
                    <li><a href="/Products/All" title="Продуктов каталог">Продукти</a></li>
                    <li><a href="/Catalogs/All" title="Каталози" rel="nofollow">Каталози</a></li>
                    <li><a href="/Home/Contacts" title="За контакти">Контакти</a></li>
                </ul>
                <hr>
                <div class="f-contacts">
                    <div class="table f-contact-bottom">
                        <div class="f-contact">
                            <a href="/Home/Card" title="Карта на сайта"><i class="fas fa-sitemap"></i> Карта на сайта</a>
                        </div>
                        <div class="f-contact">
                            <a href="/Home/GDPR" rel="nofollow" title="Политика за поверителност"><i class="fas fa-link"></i> GDPR</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2 class="c-white a-left">За контакти</h2>
                <div class="f-contacts">
                    <div class="f-contact">
                        <i class="fas fa-map-marker-alt"></i> гр. Пловдив, ул. Нестор Абаджиев 23
                    </div>
                    <div class="f-contact">
                        <a href="mailto:info@prima08.com" class="r-10" title="Изпратете ни съобщение"><i class="far fa-envelope-open"></i> info@prima08.com</a>
                    </div>
                    <div class="f-contact">
                        <a href="tel:+359 32 24 20 40" title="Обадете ни се"><i class="fas fa-phone-volume"></i> +359 32 24 20 40</a>
                    </div>
                    <div class="f-contact">
                        <a href="tel:+359 888 888 622" title="Обадете ни се"><i class="fas fa-phone-volume"></i> +359 888 888 622</a>
                    </div>
                    <div class="f-contact">
                        <i class="fas fa-fax"></i> +359 887 34 35 34
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>