<a routerLink="/exam/create">Create exam ~~!!!!!~~</a>


<div class="row contaner" *ngFor="let item of allExams">
    <div>
        <div id="cheifdiv">
            <h2>{{item.title}}</h2>
            <div id="infoHolder">
                <div>{{item.dateTime}}</div>
                <div>{{item.courseName}}</div>
                <div id="detailsButton">
                    <a id="details" [routerLink]="['/exam/details', item.id]" class="navitem">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>