.profile {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 2em auto 1rem;
    padding: .5em;
    border: .3em solid rgb(255, 30, 0);
    border-radius: .5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: rgba(27, 26, 26, 0.747);
    height: 100%;
    max-height: 1500px;
}

.profile h3 {
    text-decoration: underline;
}

.profile img {
    width: 7em;
    height: 9em;
    margin: auto;
    display: block;
}

.flex {
    display: flex;
}

.flex p:first-child {
    width: 35%;
    text-align: right;
    margin: .5em;
}

.flex p:last-child {
    width: 55%;
    text-align: left;
    margin: .5em;
    font-weight: bold;
}

.profile button {
    color: white;
    font-weight: 900;
    background-color: black;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    outline: none;
}

.flex>input,
.flex>div {
    width: 55%;
    text-align: left;
    margin: .5em;
}

.flex>div>input {
    width: 77%;
}

.flex select {
    padding: 0.17em 0;
}

.red-button {
    background-color: red;
}

.green-button {
    background-color: green;
}

#back {
    background-image: url('../../../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#profilecheif {
    padding-top: 100px;
    padding-bottom: 100px;
}

#backBtn:hover {
    background-color: black;
}

#backBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(255, 30, 0);
    padding: 10px 20px;
    border-radius: 0.3em;
    font-weight: 900;
}

#buttonHolder {
    padding-top: 30px;
    padding-bottom: 35px;
}